<div class="container-top">
  <div class="chat-name">
    <img
      src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
      alt="Avatar"
      style="width: 100%"
    />
    <h3>Name</h3>
  </div>
  <div class="msh">
    <div class="container">
      <img src="/w3images/bandmember.jpg" alt="Avatar" style="width: 100%" />
      <p>Hello. How are you today?</p>
      <span class="time-right">11:00</span>
    </div>

    <div class="container darker">
      <img
        src="/w3images/avatar_g2.jpg"
        alt="Avatar"
        class="right"
        style="width: 100%"
      />
      <p>Hey! I'm fine. Thanks for asking!</p>
      <span class="time-left">11:01</span>
    </div>
  </div>

  <div class="send">
    <input type="text" />
    <br />
    <button (click)="send()" class="btn btn-success">Send</button>
  </div>
</div>
