<div class="container">
  <div class="head">
    <h4>Chats</h4>
    <fa-icon class="plus" [icon]="faPlus" size="lg"></fa-icon>
  </div>
  <div class="chats">
    <div class="chat">
      <img
        src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
        alt=""
      />

      <h6>Name</h6>
    </div>
    <div class="chat">
      <img
        src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
        alt=""
      />
      <h6>Name</h6>
    </div>
  </div>
</div>
