<div class="wrapper">
  <div class="logo">
    <img
      src="https://png.pngitem.com/pimgs/s/148-1489584_chat-png-icon-free-download-searchpng-blue-chat.png"
      alt=""
    />
  </div>
  <div class="text-center mt-4 name">Chat-App</div>
  <form class="p-3 mt-3" (ngSubmit)="login()">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input
        [(ngModel)]="user.username"
        type="text"
        name="userName"
        id="userName"
        placeholder="Username"
      />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input
        [(ngModel)]="user.password"
        type="password"
        name="password"
        id="pwd"
        placeholder="Password"
      />
    </div>
    <div *ngIf="isInvalid" class="d-flex align-items-center">
      <small class="errorMessage"> {{ errorMessage }}</small>
    </div>
    <button type="submit" class="btn mt-3">Login</button>
  </form>
  <div class="text-center fs-6">
    <a routerLink="signup">Create an Account</a>
  </div>
</div>
